/*
-------------------------------------------------------
                    Style Sheet
-------------------------------------------------------

Ticorporate
Näyteportfolio
Hanne Lehtinen

-------------------------------------------------------
                    Sisällys   
-------------------------------------------------------

1. Navigaatio
2. Header
3. Content
4. img
5. Footer
6. Media screen stuff

*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, #cee6f6 10%, #ffffff 100%);
  animation: colorChange 10s ease-in-out infinite;
  background-size: 400% 400%;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
background-color: white;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-250deg, #ffdee9 0%, #b5fffc 100%);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(-250deg, #ffdfea 0%, #cffffd 100%);
}

/*
----------------------------------------------------
                    1. Navigaatio
----------------------------------------------------
(navigaatio tehty tätä videota:
https://www.youtube.com/watch?v=gXkqy0b4M5g
mukaillen)
*/

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height:60px;
  background-color: #ffdee9;
  background-image: linear-gradient(250deg, #ffdee9 0%, #b5fffc 100%);
  font-family: 'montserrat', sans-serif;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  z-index: 2;
  animation: colorChange 10s ease-in-out infinite;
  background-size: 400% 400%;
}

@keyframes colorChange {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

nav a {
  text-decoration: none;
  color: black;
}

.logo {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1em;
}

.navig {
  display: flex;
  justify-content: space-around;
  width: 70%;
  list-style-type: none;
}

.navig a {
  color: black;
  text-align: center;
  padding: 5px;
  font-family: 'montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.7em;
  text-decoration: none;
}

.onsite {
  font-weight: bolder;
}

.navig a:hover {
  color: gray;
}

.navig a:active {
  color: rgb(90, 90, 90);
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background: black;
  margin: 5px;
  border-radius: 5px;
}

/*
  ----------------------------------------------------
                    2. Header
  ----------------------------------------------------
*/

header {
  width: 100%;
  background-image: url(/img/bg.jpg);
  background-size: cover;
  filter: hue-rotate(360deg) brightness(100%);
  text-align: end;
  align-items: baseline;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  min-height: 30%;
}

header h1 {
  padding: 25% 2% 2% 2%;
}

@media screen and (max-width: 470px) {
  header h1 {
    font-size: 30px;
    padding: 35% 2% 2% 2%;
  } 
}

h1 {
  color: black;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 3em;
  font-family: 'montserrat', sans-serif;
}

/*
  ----------------------------------------------------
                    3. Content
  ----------------------------------------------------
*/


.content {
  padding-bottom: 3em;
  padding-top: 3em;
  max-width: 1000px;
  margin: auto;
  padding: 30px;
  line-height: 1.5em;
}

@media only screen and (max-width: 830px) {
  .content {
    margin: 0px !important;
  }
  .bigBox {
    margin: 0px !important;
  }
}

h2 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.5em;
  font-family: 'montserrat', sans-serif;
  margin-top: 2em;
  line-height: 1.8em;
  text-align: center;
}
.content h3 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 1.5em;
  font-family: 'montserrat', sans-serif;
  margin-top: 3em;
  line-height: 1.8em;
  text-align: center;
}


.gridContainer, .gridContainer2 {
  display: grid;
  grid-gap: 10px;
  margin: 2%;
}

.gridContainer {
  justify-content: space-around;
  margin-bottom: 30px;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  max-width: 1200px;
  margin: auto;
}

.gridContainer2 {
  justify-content: space-evenly;
  padding: 3%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.gridItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}

#kerning {
  letter-spacing: -0.34px;
}
.gridItem2 {
  display: flex;
  padding: 0px;
  border: white 2px;
}

dt {
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1em;
  font-family: 'montserrat', sans-serif;
  margin-bottom: 0.5em;
  margin-top: 20px;
}

p, dd {
  font-family: 'hind', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

p {
  text-align: justify;
}

.leipis {
  width: 90%;
  margin: auto;
}

.box {
  height: 400px;
}

.popUps {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

@media  screen and (max-width: 750px) {
  .popUps {
    display: block;
  }
}
/* Caption text */
.text {
  color: black;
  font-size: 90%;
  bottom: -40px;
  width: 100%;
  text-align: center;
  font-family: 'montserrat', sans-serif;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: -30px;
  font-family: 'montserrat', sans-serif;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}


/*
  ----------------------------------------------------
                    4. Images
  ----------------------------------------------------
*/
.korvapuustiistai {
  width: 70%;
  margin-bottom: 10px;
}

.someImg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px grey;
}


.ang {
  width: 11%;
  float: right;
  margin: 1%;
}

.css {
  width:10%;
  float: left;
  margin: 2%;
}

.uiGif {
  width: 100%;
  display: block;
  margin: 0% auto;
}

.levee {
width: 95%;
}

.img {
  width: 100%;
}

.icons {
  width: 60%;
  margin-left: 20%;
}

/* Slideshow container */
.slideshow-container {
  width: 95%;
  position: relative;
  margin: 0%;
  background-color: white;
  height: 500px;
}

.slidePhoto {
  height: 400px;
}
/* Hide the images by default */
.mySlides1,
.mySlides2 {
  display: none;
}
.mobileImg {
  display: none;
}

@media  screen and (max-width: 1000px) {
  .slideshow-container {
    display: none;
  }
  .mobileImg {
    display: block;
    width: 90%;
    margin: 20px auto;
  }
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(228, 228, 228);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;

}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(117, 117, 117, 0.8);
}

.bigBox div {
  padding: 2%;
  margin: 5% 2%;
}

.bigBox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2% auto;
  background-color: white;
}

.bigBox h2,
.bigBox h3 {
  margin-top: 0.5em;
  text-align: center;
}

table {
  padding: 20px;
  font-family: 'hind', sans-serif;
}

td {
  padding: 10px;
}

.kuvaOverlay {
  float: right;
  position: relative;
  width: 25%;
  margin: 0px;
}
.mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .kuvaOverlay {
    float: none;
    width: 90%;
    padding: 50px;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

.kuvaOverlay:hover .img {
  opacity: 0.3;
  transition: .5s ease;
}

.kuvaOverlay:not(:hover) .img{
  opacity: 1;
  transition: .5s ease;
}

.kuvaOverlay:hover .middle {
  opacity: 1;
  transition: .5s ease;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.borders {
  border: white 10px solid;
  box-shadow: 2px 4px 2px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
  
}

.overlay {
  position: absolute;
  height: 100%;
  width: 30%;
  right: 0;
  top: 0;
  opacity: 0;
  transition: 0.5s ease;
  background: blue;
}

 .getBig:hover {
   transform: scale(2.5, 2.5);
   transition: 0.9s;
   transition-timing-function: ease-in-out;
   z-index: 1;
 }
 
 .getBig:not(:hover) {
   transform: scale(1, 1);
   transition: 0.9s ease-in-out;
 }
 .getMediumBig:hover {
   transform: scale(1.5, 1.5);
   transition: 0.5s;
   transition-timing-function: ease-out;
 }
 
 .getMediumBig:not(:hover) {
   transform: scale(1, 1);
   transition: 0.5s ease-in-out;
 }
 
 .getMedium:hover {
   transform: scale(1.1, 1.1);
   transition: 0.5s;
   transition-timing-function: ease-out;
 }
 
 .getMedium:not(:hover) {
   transform: scale(1, 1);
   transition: 0.5s ease-in-out;
 }
 

/* 
  ----------------------------------------------------
                    4. Footer
  ----------------------------------------------------
  */

footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  bottom: 0;
  font-family: 'montserrat', sans-serif;
  font-size: 12px;
  box-shadow: 0px -4px 2px -2px rgba(0, 0, 0, 0.2);
  background-color: #ffdee9;
  background-image: linear-gradient(135deg, #cee6f6 10%, #ffffff 100%);
  animation: colorChange 10s ease-in-out infinite;
  background-size: 400% 400%;
  z-index: 100;
}

.button {
  border: none;
  background-color: #f3eaed;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: auto;
  font-size: 1.2em;
  transition-duration: 0.4s;
  cursor: pointer;
  color: black; 
  border-radius: 20px;
  font-family: 'hind', sans-serif;
  margin: 20px 40%;
  z-index: +2;
}


.button:hover {
  background-image: linear-gradient(-250deg, #ffdee9 30%, #b5fffc 100%);
  color: white;
}

@media only screen and (max-width: 830px) {
  
}
/* 
  ----------------------------------------------------
                    5. Media screen stuffs
  ----------------------------------------------------
  */

@media only screen and (max-width: 830px) {
  .nav {
    display: none;
  }
  .navig {
    position: absolute;
    right: 0px;
    height: 60vh;
    top: -60vh;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateY(0%);
    transition: transform 0.3s ease-in-out;
  }
  .navig li {
    opacity: 100%;
  }
  .burger {
    display: block;
  }
  .nav-active {
    transform: translateY(100%);
    margin-top: 60px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  }

  .container2 img {
    width: 400px;
  }
  .overlay {
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    font-size: 13px;
  }
  .burger div {
    width: 20px;
    height: 2px;
    background: black;
    margin: 5px;
    border-radius: 5px;
  }

  header {
    text-align: end;
  }
  p {
    text-align: left;
  }
}
